{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}
{% block title %}Announces{% endblock %}

{% block content %}
<div class="header">
    <h1>All announces</h1>
    <a href="{{ url_for('admin.create_announce') }}"><button class="btn">Create</button></a>
</div>


{% if data %}
{% set col_bodies = data %}
{% include 'includes/table.html' %}
{% endif %}


<div id="modal_del" class="modal">
    <div class="modal-content">
        <form action="" method="POST" id="del_form">
            <h3>Deleting the post</h3>
            <p>Are you sure you want to delete the post ID "<b id="target"></b>"?</p>
            <input type="hidden" name="_method" value="DELETE">
            <div class="buttons">
                <button class="btn modal-close" type="button">Cancel</button>
                <button class="red btn" type="submit">Delete</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/tablePagination.js') }}"></script>
{% endblock %}