{% set holls = [
{"code_name": "main_holl", "language": {"uk": {"name": "Головний зал", "description": "Завітати в “Хату Багату”, це те
саме що відвідати традиційну українську домівку з гостинними господарями, які щедро пригощають ситними українськими
стравами. Ми подбали, щоб наші гості повністю поринули в народну атмосферу через інтер‘єр, глиняний посуд, традиційні
українські костюми персоналу.
"}, "en": {"name":"Main holl", "description": "Visiting “TastyBites” is the same as visiting a traditional Tasty
home with hospitable hosts who generously treat you to hearty Tasty dishes. We made sure that our guests were
completely immersed in the folk atmosphere through the interior, pottery, traditional Tasty staff costumes."}},
"gallery": [url_for('static', filename='objects/Holl/main/1.jpg'), url_for('static',
filename='objects/Holl/main/2.jpg'),
url_for('static', filename='objects/Holl/main/3.jpg'), url_for('static', filename='objects/Holl/main/4.jpg')]},

{"code_name": "banquet_holl", "language": {"uk": {"name": "Банкетний зал", "description": "Безліч важливих дат наші гості святкують разом з нами. Адже
\"TastyBites\"” вміє створити відчуття родинного затишку і тепла. Для проведення Вашого особливого свята в колі друзів і
близьких у нас є три банкетних зали, які вміщують від 14 до 50 осіб. Є зали з окремим виходом на балкон. Спеціальне
банкетне меню потішить Вас різноманіттям страв. Банкетний зал також підійде для ділових зустрічей з колегами в спокійній
закритій обстановці."}, "en": {"name":
"Banquet holl", "description": "Many important dates our guests celebrate with us. After all, \"TastyBites\" is able to
create a feeling of family comfort and warmth. For your special holiday among friends and relatives we have three
banquet halls, which can accommodate from 14 to 50 people. There are halls with separate access to the balcony. A
special banquet menu will delight you with a variety of dishes. The banquet hall is also suitable for business meetings
with colleagues in a quiet closed environment."}},
"gallery": [url_for('static', filename='objects/Holl/banquet/1.jpg'), url_for('static',
filename='objects/Holl/banquet/2.jpg'),
url_for('static', filename='objects/Holl/banquet/3.jpg'), url_for('static', filename='objects/Holl/banquet/4.jpg'),
url_for('static', filename='objects/Holl/banquet/5.jpg'), url_for('static', filename='objects/Holl/banquet/6.jpg'),
url_for('static', filename='objects/Holl/banquet/7.jpg'), url_for('static', filename='objects/Holl/banquet/8.jpg')]},

{"code_name": "ribs_holl", "language": {"uk": {"name": "Реберня", "description": "Любителів покуштувати ласий шматок
м’яса запрошуємо до нашої реберні. Тут найсвіжіші м’ясні страви та риба готуються на відкритому вогні. Звук
потріскування дров і присмак диму придають цьому місцю атмосферу особливого затишку і наганяють ще більший апетит. Ви
можете самі спостерігати за приготуванням вашої страви: шашлика, стейків чи ребер.
"}, "en": {"name":
"Ribs holl", "description": "Lovers of tasting a tasty piece of meat are invited to our ribs. Here the freshest meat
dishes and fish are prepared on an open fire. The sound of crackling firewood and the taste of smoke give this place a
special atmosphere of coziness and whet the appetite even more. You can watch the preparation of your dish: kebabs,
steaks or ribs."}},
"gallery": [url_for('static', filename='objects/Holl/ribs/1.jpg'), url_for('static',
filename='objects/Holl/ribs/2.jpg'),
url_for('static', filename='objects/Holl/ribs/3.jpg'), url_for('static', filename='objects/Holl/ribs/4.jpg'),
url_for('static', filename='objects/Holl/ribs/5.jpg'), url_for('static', filename='objects/Holl/ribs/6.jpg')]},

{"code_name": "children_room", "language": {"uk": {"name": "Дитяча кімната", "description": "«TastyBites» також з
радістю прийме наших найменших гостей у дитячій кімнаті «Хатинка», яка знаходиться на 3 поверсі закладу. Бiльше 200
кв.м., море розвиваючих та веселих ігор для дітей різних вікових категорій. В спеціальному дитячому меню є улюбленні
страви на будь який смак. Кваліфікований вихователь легко знайде підхід до Вашої дитини. Ми подбали про те, щоб вам було
комфортно та безпечно залишити з нами дитину як в будній день (поки ви зайняті), так і на свято."}, "en": {"name":
"Children room", "description": "\"TastyBites\" will also be happy to receive our youngest guests in the children's room
\"Khatynka\", which is located on the 3rd floor of the institution. More than 200 sq.m., a lot of educational and fun
games for children of different ages. The special children's menu includes favorite dishes for all tastes. A qualified
fosterer will easily find an approach to your child. We have made sure that you are comfortable and safe to leave your
child with us both on weekdays (while you are busy) and on holidays."}},
"gallery": [url_for('static', filename='objects/Holl/children/1.jpg'), url_for('static',
filename='objects/Holl/children/2.jpg'),
url_for('static', filename='objects/Holl/children/3.jpg'), url_for('static', filename='objects/Holl/children/4.jpg'),
url_for('static', filename='objects/Holl/children/5.jpg'), url_for('static', filename='objects/Holl/children/6.jpg'),
url_for('static', filename='objects/Holl/children/7.jpg'), url_for('static', filename='objects/Holl/children/8.jpg'),
url_for('static', filename='objects/Holl/children/9.jpg'), url_for('static', filename='objects/Holl/children/10.jpg'),
url_for('static', filename='objects/Holl/children/11.jpg')]},
] %}